
Sinker/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Sinker/Temp/UnityLockfile
Sinker/Library/ArtifactDB
Sinker/Library/SourceAssetDB
Sinker/Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.log
